<h2>Log in</h2>
<form action="/login" method="post">
Username: <input type="text" name="username" /><br />
Password: <input type="password" name="password" /><br />
<input type="submit" value="Submit" />
</form>

<h2>Sign up</h2>
<form action="/signup" method="post">
Username: <input type="text" name="username" /><br />
Password: <input type="password" name="passwordA" /><br />
Password: <input type="password" name="passwordB" /><br />
<input type="submit" value="Submit" />
</form>
